body {
    width: 350px;
    min-height: 100px;
}

body header, main {
    margin-top: 10px;
}

header h2{
    padding-left: 10px;
}

.cus-label {
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}