body {
    width: 350px;
    min-height: 100px;
}

body header, main {
    margin-top: 10px;
}

header h2{
    padding-left: 10px;
}

.cus-label {
    padding-left: 5px;
    padding-right: 5px;
}

.w45 {
    width: 45px;
}

.w120 {
    width: 120px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml8{
    margin-left: 8px;
}